extends ../layout

block content
    h2.page-header= title

    form#form-post-filter.form.form-inline.form-filter
        div.form-group
            label 分类 &nbsp;
            select#js-category.form-control(name='category')
                option(value="",selected=(filter.category==="")) - 选择分类 -
                each category in categories
                    option(value=category._id,selected=(category._id.toString() === filter.category))= category.name 
        
        div.form-group
            label 作者 &nbsp;
            select#js-category.form-control(name='author')
                option(value="",selected=(filter.author==="")) - 选择作者 -
                each author in authors
                    option(value=author._id,selected=(author._id.toString() === filter.author))= author.name 
        

        div.form-group
            label 关键词 &nbsp;
            input#js-keyword.form-control(name='keyword',value=filter.keyword,type='text')

        button#js-filter-submit.btn.btn-info
            搜索
    if pageCount > 1 
        nav
            ul.pagination
                -var currentPage = 1
                while currentPage < pageCount
                    if currentPage == pageNum
                        li.active
                            a(href='/admin/posts?page='+currentPage+"&sortBy=#{sortBy}&sortDir=#{sortDir}"+"&category="+filter.category+"&author="+filter.author)=currentPage++
                    else
                        li
                            a(href='/admin/posts?page='+currentPage+"&sortBy=#{sortBy}&sortDir=#{sortDir}"+"&category="+filter.category+"&author="+filter.author)=currentPage++
    table.table.table-bordered
        thead
            tr
                th(width='30%')
                    if sortBy ==='title'
                        if sortDir === 'desc'
                            a(href='/admin/posts?page='+pageNum+"&sortBy=title&sortDir=asc"+"&category="+filter.category+"&author="+filter.author)
                                i.fa.fa-arrow-down
                                &nbsp; 标题
                        else
                            a(href='/admin/posts?page='+pageNum+"&sortBy=title&sortDir=desc"+"&category="+filter.category+"&author="+filter.author)
                                i.fa.fa-arrow-up
                                &nbsp;标题
                    else
                        a(href='/admin/posts?page='+pageNum+"&sortBy=title&sortDir=desc"+"&category="+filter.category+"&author="+filter.author)
                            i.fa.fa-arrow-down
                                &nbsp;标题
                th 
                    if sortBy ==='category'
                        if sortDir === 'desc'
                            a(href='/admin/posts?page='+pageNum+"&sortBy=category&sortDir=asc"+"&category="+filter.category+"&author="+filter.author)
                                i.fa.fa-arrow-down
                                &nbsp;分类
                        else
                            a(href='/admin/posts?page='+pageNum+"&sortBy=category&sortDir=desc"+"&category="+filter.category+"&author="+filter.author)
                                i.fa.fa-arrow-up
                                &nbsp;分类
                    else
                        a(href='/admin/posts?page='+pageNum+"&sortBy=category&sortDir=desc"+"&category="+filter.category+"&author="+filter.author)
                            i.fa.fa-arrow-down
                                &nbsp;分类
                th 
                    if sortBy ==='author'
                        if sortDir === 'desc'
                            a(href='/admin/posts?page='+pageNum+"&sortBy=author&sortDir=asc"+"&category="+filter.category+"&author="+filter.author)
                                i.fa.fa-arrow-down
                                &nbsp;作者
                        else
                            a(href='/admin/posts?page='+pageNum+"&sortBy=author&sortDir=desc"+"&category="+filter.category+"&author="+filter.author)
                                i.fa.fa-arrow-up
                                &nbsp;作者
                    else
                        a(href='/admin/posts?page='+pageNum+"&sortBy=author&sortDir=desc"+"&category="+filter.category+"&author="+filter.author)
                            i.fa.fa-arrow-down
                                &nbsp;作者
                th 
                    if sortBy ==='created'
                        if sortDir === 'desc'
                            a(href='/admin/posts?page='+pageNum+"&sortBy=created&sortDir=asc"+"&category="+filter.category+"&author="+filter.author)
                                i.fa.fa-arrow-down
                                &nbsp;时间
                        else
                            a(href='/admin/posts?page='+pageNum+"&sortBy=created&sortDir=desc"+"&category="+filter.category+"&author="+filter.author)
                                i.fa.fa-arrow-up
                                &nbsp;时间
                    else
                        a(href='/admin/posts?page='+pageNum+"&sortBy=created&sortDir=desc"+"&category="+filter.category+"&author="+filter.author)
                            i.fa.fa-arrow-down
                                &nbsp;时间
                th 被赞
                th 评论
                th 
                    if sortBy ==='published'
                        if sortDir === 'desc'
                            a(href='/admin/posts?page='+pageNum+"&sortBy=published&sortDir=asc"+"&category="+filter.category+"&author="+filter.author)
                                i.fa.fa-arrow-down
                                &nbsp;状态
                        else
                            a(href='/admin/posts?page='+pageNum+"&sortBy=published&sortDir=desc"+"&category="+filter.category+"&author="+filter.author)
                                i.fa.fa-arrow-up
                                &nbsp;状态
                    else
                        a(href='/admin/posts?page='+pageNum+"&sortBy=published&sortDir=desc"+"&category="+filter.category+"&author="+filter.author)
                            i.fa.fa-arrow-down
                                &nbsp;状态
                th 管理
        tbody
        each post in posts
            tr
                td 
                    a(href='/posts/view/'+post.slug)= post.title
                td= post.category.name
                td= post.author.email
                td= moment(post.created).format('YYYY-MM-DD')
                td= post.meta.favorite || 0
                td= post.comments.length || 0
                td= post.published?'已发布':'未发布'
                td
                    a(href='/posts/view/'+post._id,class='btn btn-sm btn-success') 查看
                    &nbsp;&nbsp;
                    a(href='/admin/posts/edit/'+post._id,class='btn btn-sm btn-info') 编辑
                    &nbsp;&nbsp;
                    a(href='/admin/posts/delete/'+post._id,class='btn btn-sm btn-danger') 删除

    if pageCount >1
        nav
            ul.pagination
                -var currentPage = 1
                while currentPage < pageCount
                    if currentPage == pageNum
                        li.active
                            a(href='/admin/posts?page='+currentPage+"&sortBy=#{sortBy}&sortDir=#{sortDir}"+"&category="+filter.category+"&author="+filter.author)=currentPage++
                    else
                        li
                            a(href='/admin/posts?page='+currentPage+"&sortBy=#{sortBy}&sortDir=#{sortDir}"+"&category="+filter.category+"&author="+filter.author)=currentPage++
block scripts
    script(src='/js/querystring.js')
    script(src='/js/admin/post.js')
